<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>受講生コース一覧</title>
</head>
<body>
<h1>受講生コース一覧</h1>
<table border="1">
    <thead>
    <tr>
        <th>コースID</th>
        <th>ID</th>
        <th>コース名</th>
        <th>受講開始日</th>
        <th>受講修了予定日</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${courseList}">
        <td th:text="${course.courseId}">11</td>
        <td th:text="${course.studentId}">1</td>
        <td th:text="${course.courseName}">Java</td>
        <td th:text="${course.courseStartDate}">1/1</td>
        <td th:text="${course.courseCompletionDate}">2/2</td>
    </tr>
    </tbody>
</table>
</body>
</html>