<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>受講生詳細</title>
</head>
<body>
<h1>受講生詳細</h1>
<form th:action="@{/updateStudent}" th:object="${studentDetail}" method="post">
    <div>
        <label for="studentId">ID：</label>
        <input type="text" id="studentId" th:field="*{student.studentId}" required/>
    </div>
    <div>
        <label for="fullName">名前：</label>
        <input type="text" id="fullName" th:field="*{student.fullName}" required/>
    </div>
    <div>
        <label for="furigana">フリガナ：</label>
        <input type="text" id="furigana" th:field="*{student.furigana}" required/>
    </div>
    <div>
        <label for="nickname">ニックネーム：</label>
        <input type="text" id="nickname" th:field="*{student.nickname}" required/>
    </div>
    <div>
        <label for="emailAddress">メールアドレス：</label>
        <input type="text" id="emailAddress" th:field="*{student.emailAddress}" required/>
    </div>
    <div>
        <label for="city">住所：</label>
        <input type="text" id="city" th:field="*{student.city}" required/>
    </div>
    <div>
        <label for="age">年齢：</label>
        <input type="text" id="age" th:field="*{student.age}" required/>
    </div>
    <div>
        <label for="gender">性別：</label>
        <input type="text" id="gender" th:field="*{student.gender}" required/>
    </div>
    <div>
        <label for="remark">備考：</label>
        <input type="text" id="remark" th:field="*{student.remark}"/>
    </div>
    <div th:each="course, stat : *{course}">
        <label for = "courseId" th:for="course__${stat.index}__courseId">受講コースID：</label>
        <input type="text" id="courseId" th:id="course__${stat.index}__courseId"
               th:field="*{course[__${stat.index}__].courseId}"/>

        <label for="courseName" th:for="course__${stat.index}__courseName">受講コース名：</label>
        <input type="text" id="courseName" th:id="course__${stat.index}__courseName"
               th:field="*{course[__${stat.index}__].courseName}"/>
    </div>
    <div>
        <button type="submit">更新</button>
    </div>
</form>
</body>
</html>